<h3>Update Branch</h3>
<%= form_with model: @branch do |form| %>
    <%= form.text_field :name, placeholder: "name" %>
    <%= form.text_field :address, placeholder: "address" %>
    <!--<td><%= button_to 'Desactivate', branch_path(@branch), remote: true, method: :post , data: { confirm: 'Are you sure?' } %></td>-->
    <%= label_tag 'status', 'Branch active:'%>
    <%= form.check_box :status %>
    <%= form.submit%>
  <% end %>
  