<h3>Update Employee</h3>
<%= form_with model: @employee do |form| %>
    <%= form.text_field :name, placeholder: "name" %>
    <%= form.text_field :email, placeholder: "email@email.com" %>
    <%= form.text_field :position, placeholder: "Position" %>
    <%= form.text_field :private_number, placeholder: "Private number" %>
    <%= form.text_field :status, placeholder: "Status" %>
  
    <%= form.submit %>
  <% end %>