
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Employee Information</h1>
</div>

<h2><%= @employee.name %></h2>
<h4>Email: <%= @employee.email %></h4>
<h4>Position: <%= @employee.position %></h4>
<h4>Private number: <%= @employee.private_number %></h4>
<h4>Status: <%= @employee.status %></h4>